{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Conclusione
{% endblock %}

{% block content %}

{# Blocco principale#}
<div class="row">

	{# Grafici e form #}
	<div class="col-md-12">

		{# Total payoff #}
		<div class="card bg-light">

			</p>
				Grazie per aver partecipato!
			</p>

			</p>
				Adesso si procederà all’estrazione a sorte del vincitore.
			</p>

			<p>
				Il tuo guadagno espresso in punti è 
				{{ total_payoff_points|stringformat:".2f" }}
				({{ total_payoff_euros|stringformat:".2f" }} &euro;).
			</p>
		</div>

	</div>

</div>

    {% next_button %}

{% endblock %}
