{% load otree static %}

<div class="card bg-light instructions">
    <div class="card-body">

    <h3>
        Istruzioni per partecipanti
    </h3>
    <p>
        <strong>Informazioni generali. </strong>
        Sei un consulente finanziario di un fondo pensione che vuole investire in modo ottimale una grande quantità di denaro.
        Il fondo pensione dispone di due opzioni d'investimento: un investimento privo di rischio e un investimento rischioso.
        L'investimento privo di rischio consiste nel depositare tutti i soldi su un conto bancario che paga un tasso d'interesse fisso e noto.
        L'investimento rischioso alternativo è un investimento sul mercato azionario con rendimenti incerti.
        In ogni periodo il fondo pensione deve decidere quale frazione del suo denaro depositare nel conto bancario e quale frazione del denaro spendere per l'acquisto di azioni. Al fine di prendere una decisione di investimento ottimale, il fondo pensione ha bisogno di una previsione accurata del prezzo dell'azione.
        Come loro consulenti finanziari, dovete prevedere il prezzo di mercato dell’azione durante 100 periodi di tempo successivi.
        I vostri guadagni durante l'esperimento dipendono dalla precisione delle vostre previsioni.
        Più piccoli sono gli errori di previsione in ogni periodo, più alti sono i vostri guadagni totali.

    </p>

    <p>
        <strong>Compito di previsione del consulente finanziario. </strong>
        L'unico compito dei consulenti finanziari in questo esperimento è quello di prevedere il prezzo di mercato dell’azione nel modo più accurato possibile.
        All'inizio dell'esperimento (periodo t=0) dovete prevedere il prezzo delle azioni per i primi due periodi (t=1 e t=2).
        È molto probabile che il prezzo dell’azione sia compreso tra 0 e 100 nei primi due periodi.
        Dopo che tutti i partecipanti avranno formulato le loro previsioni per i primi due periodi sarà rivelato il prezzo di mercato dell’azione relativo al primo periodo e in base al vostro errore di previsione saranno determinati i vostri guadagni per il periodo 1.
        Successivamente, nel periodo t=1, dovete fornire le vostre previsioni sul prezzo di mercato dell’azione per il terzo periodo (t=3).
        Dopo che tutti i partecipanti avranno formulato le loro previsioni per il terzo periodo, sarà rivelato il prezzo di mercato dell’azione relativo al secondo periodo e in base al vostro errore di previsione saranno determinati i vostri guadagni per il periodo 2.
        Questo processo continua per 100 periodi di tempo, dove in ogni periodo t deve essere previsto il prezzo di mercato dell’azione al periodo t+2.
        Le informazioni disponibili per prevedere il prezzo dell'azione nel periodo t sono:
        <ul>
        <li>Tutti i prezzi realizzati fino al periodo t-2 </li>
        <li>Tutte le previsioni fino al periodo t-1 </li>
        <li>- Tutti i guadagni fino al periodo t-2 </li>li>
    </ul>




    </p>
    <strong>Informazioni sul mercato azionario. </strong>
        Il prezzo di mercato dell’azione è determinato dall'equilibrio tra domanda e offerta di titoli.
        Il prezzo dell'azione nel periodo t sarà il prezzo per il quale la domanda aggregata eguaglia l'offerta aggregata. L'offerta di azioni è fissa durante l'esperimento. La domanda di azioni è determinata dalla domanda aggregata di un certo numero di grandi fondi pensione attivi.
        Ciascun partecipante all'esperimento è il consulente finanziario di un fondo pensione.


    <p>
        <strong> Informazioni sulle strategie di investimento del fondo pensione. </strong>
        La specifica strategia d'investimento del fondo pensione di cui siete consulenti finanziari e le strategie d'investimento degli altri fondi pensione non sono note.
        Il conto bancario paga un tasso di interesse fisso del 5% per ogni periodo di tempo.
        Il titolare dell'azione riceve un dividendo in ogni periodo di tempo. Tali dividendi sono tuttavia incerti e variano nel tempo.
        Esperti economici dei fondi pensione hanno calcolato che il pagamento medio dei dividendi è di 3 euro per periodo.
        Il rendimento del mercato azionario per periodo di tempo è incerto e dipende sia dal pagamento (non conosciuto) dei dividendi che dalle variazioni del prezzo delle azioni.
        In qualità di consulenti finanziari dei fondi pensione non vi viene chiesto di prevedere i dividendi, ma solo di prevedere il prezzo dell'azione in ogni periodo di tempo. In base alla vostra previsione del prezzo di mercato dell'azione il vostro fondo pensione prenderà una decisione d'investimento ottimale. Più alto è il prezzo da voi previsto, più grande sarà la frazione di denaro investito dal vostro fondo pensione nel mercato azionario, quindi maggiore sarà la loro domanda di azioni.



    </p>

    <p>
        <strong> Guadagni.</strong>
        I guadagni di ogni consulente dipenderanno solo dall'accuratezza delle proprie previsioni.
        Durante lo svolgimento dell’esperimento sono visualizzati i guadagni espressi in punti relativi al periodo corrente e quelli cumulati.
        I guadagni associati agli errori di previsione sono calcolati in base alla seguente tabella:


    </p>
    </div>
</div>

