{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Investi
{% endblock %}

{% block content %}

<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/series-label.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/export-data.js"></script>

{# Blocco principale#}
<div class="row">

	{# Grafici e form #}
	<div class="col-md-9">

		{# Grafico #}
		<div class="row">
			<div class="col-md-12">
				{% include "fondo_pensioni/_main_chart_js.html" %}
			</div>
		</div>

		{# Statistiche #}
		<div class="row">
			
			<div class="col-md-3">
				Guadagni totali:<br />
				{{ player.total_payoff }}
			</div>

			<div class="col-md-3">
				Guadagni per questo periodo:<br />
				{% comment %}{{ player.payoff }}{% endcomment %}
				{{ player.last_payoff }}
			</div>

			<div class="col-md-2">
				Periodo:<br />
				{% comment %}{{ subsession.round_number|add:"1" }}{% endcomment %}
				{{ subsession.round_number }}
			</div>

			<div class="col-md-2">
				Dividendo medio:<br />
				{{ mean_dividend }}
			</div>

			<div class="col-md-2">
				Tasso d'interesse:<br />
				{{ interest_rate }}
			</div>

		</div>

		{# Form #}
		<div class="row">
			<div class="col-md-12">
				{% formfields %}
			</div>
		</div>


	</div>

	{# Colonna laterale #}
	<div class="col-md-3">
		{{ series_df_html|safe }}
	</div>

</div>


	{% next_button %}

{% endblock %}
